*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    overflow: hidden;
}
.nav{
    position: absolute;
    z-index: 80;
    width: 100%;
}
.logo{
    padding-left: 70px;
    float: left;
    display: block;
    position: absolute;
    z-index: 10;
}
.nav-menu{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    height: 25px;
    font-size: 12px;
    top: 48px;
    position: relative !important;
    padding-left: 260px;
}
.nav-menu ul{
    float: none;
    padding: 0;
    list-style: none;
}
.nav-menu ul li a{
    float: left;
    min-width: 12%;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.nav-menu ul li a:hover{
    background: rgba(0, 0, 0, 0.6);
}
.background,
.background-two{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.head{
    padding-top: 800px;
}
.head_link {
    text-align: center;
    height: 180px;
    width: 180px;
    font-size: 33px;
    margin: 0 auto;
    padding-bottom: 200px;
    text-decoration: none;
}
.head_link a{
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    font-weight: 300;
}
 .category img{
    max-height: 312px;
    object-fit: cover !important;
    height: 100% !important;
    width: 100% !important;
    padding: 0;
    margin:0;
    vertical-align: middle;
    display: inline-block;
}
.category ul,
 .category li{
    margin:0;
    padding:0;
}
.category ul li {
    position: relative; 
    width: 100%; 
}
.category ul li span {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    margin: 10px
}
.bike{
	overflow: hidden;
	background-color:#333333 !important;
}
.runing li img{
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease; 
    -o-transition: all 1s ease; 
    transition: all 1s ease;
}

.runing li:hover img{
    -webkit-transform:scale(1);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15); 
     transform:scale(1.15);
}
li.half.fl{
    overflow: hidden;
}
.hide{
    display:flex;
    overflow: hidden;
}
.hide .rowtwo{
    background-color: #333333;
}
.rowone,
.rowtwo{
    width: 100%;
}
.footer ul, .footer li{
    border: 0;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    list-style: none;
}
.footer a{
    text-decoration: none;
    color: #fff;
}
.footer li a:hover{
    text-decoration: underline;
}
.menu {
    padding: 0 40px;
    margin-top: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.about_collapse, .about_collapseone{
    font-weight: 700;
    font-size: 14px;
}
.collapse{
    display: none;
}
.about_collapse{
    margin-left: 220px;
    margin-bottom: 80px;
}

.cp{
    color: #202020;
    text-align: center;
    font-family: sans-serif;
    font-size: 12;
    margin-bottom: 10px;
}
